parameters:
    level: 6
    paths:
        - src
    tmpDir: var/phpstan
    ignoreErrors:
        - '#Method App\\Repository\\.*::.*\(\) return type with generic class Doctrine\\ORM\\Query does not specify its types: TKey, TResult#'

