<form method="post" action="{{ path('app_advertisement_delete', {id: advertisement.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advertisement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
